<!-- Get the key of the collections -->
{% for key in site.collections %}
	{% if key.label == include.name %}
		{% assign this_collection = key %}
	{% endif %}
{% endfor %}

{% if this_collection.docs != empty %}
<div class="posts">
  <h3 class="category">{{ this_collection.name }}</h3>
  <span class="category-description"># {{ this_collection.description }}</span>
	<ul>
	  {% for post in this_collection.docs reversed %}
	  <li class="post">
	    <span class="post-date">{{ post.date | date_to_string }} &raquo;</span> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
	    <div class="post-excerpt">{{post.excerpt}}</div>
	  </li>
	  {% endfor %}
	</ul>
</div>

<br />
{% endif %}
