
//
// VARIABLES
//

// Colors
$lightBlue: #4183C4;
$blue: #34699D;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

$inset-color: #FAFAFA;
$theme: $gray;
$theme-light: lighten($theme, 40%);
$theme-dark:  darken($theme, 15%);
$theme-trans75: rgba($theme,.75);

$link: $blue;
$link-hover: darken($link, 15%);

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
