/*********************/
/* LAYOUT / SECTIONS */
/*********************/

@import "_variables";

.topbar {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid $theme-sep;
  background-color: $theme-bgcolor;

  /* Position over sidebar */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  /* Center align */
  height: $header-height;
  line-height: $header-height;

  @include mobile {
    position: initial;
    height: unset;
    line-height: unset;
  }
}

.topbar-padding {
  padding: 0 $pad;
  margin: 0;

  @include mobile {
    text-align: center;
    padding: 0.8 * $pad;
  }
}

.site-avatar {
  float: left;
  width: $header-height;

  @include mobile {
    display: none;
  }

  img {
    border-radius: 5px;
  }
}

/*
 *Align objects on same line:
 *
 *   ________________________________
 *  |                                |
 *  | child-1                child-2 |
 *  |________________________________|
 *
 *   - parent:  position: relative
 *      (div)
 *   - child-1: position: abosolute
 *              top: 0;
 *              left: 10px;
 *
 *   - child-2: position: abosolute
 *              top: 0;
 *              right: 10px;
 */

.topbar-container {
  position: relative;

  @include mobile {
    position: initial;
    margin: 0 auto;
  }
}

.topbar-left {
  padding-left: $header-height + $pad;
  display: inline-block;

  position: absolute;
  top: 0;
  left: 0;

  @include mobile {
    position: static;
    padding: 0;
    padding-bottom: $pad-mobile;
  }
}

.topbar-right {
  position: absolute;
  top: 0;
  right: 0;

  @include mobile {
    position: static;
  }
}

.site-name {
  color: $theme-title;
  font-family: $font-head;
  font-size: $font-size-h2;
  font-weight: bold;

  /* Align w.r.t. site-name
   * https://developer.mozilla.org/en-US/docs/Web/CSS/vertical-align
   */
  vertical-align: middle;

  @include mobile {
    display: block;
    font-size: $font-size-h1;
  }

  a {
    color: $theme-header;
  }
}

.site-description {
  color: $theme-subheader;
  font-family: $font-head;
  font-size: 16px;

  vertical-align: middle;

  @include mobile {
    display: block;
    margin: 3px 0;
  }
}

/* Pages in my website */
.site-pages {
  font-family: $font-head;
  font-size: $font-size-normal;
  text-align: right;

  @include mobile {
    font-size: 16px;
    text-align: center;
    display: block;
  }

  a {
    color: $theme-title;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0 .4em;

    @include mobile {
      margin: 0 .1em;
      color: $theme;
    }
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $theme-bgfooter;
  z-index: 10;
  display: none;
}

footer {
  padding: 20px 0;
  text-align: center;
}
