/***************/
/* Page Layout */
/***************/

@import "_variables";

/*
 * Single column layout:
 *  ___________________________
 * |                           |
 * |          TOPBAR           |
 * |___________________________|
 * |                           |
 * |                           |
 * |         CONTENT           |
 * |                           |
 * |___________________________|
 *
 */
.content-1col {
  padding-top: $header-height;

  @include mobile {
    padding-top: 0;
  }
}

/*
 * Layout:
 *  ___________________________
 * |                           |
 * |          TOPBAR           |
 * |___________________________|
 * |         |                 |
 * |         |                 |
 * | SIDEBAR |     CONTENT     |
 * |         |                 |
 * |_________|_________________|
 *
 * Topbar:  position is fixed
 * Sidebar: position is fixed
 * Content: default text where padding
 *          is used to prevent overlap
 *
 *
 *  Content contains 'post' which centers
 *  the main body.
 *
 *  By default, the padding and margins are added
 *  on top of the object's width. Ways to get around:
 *
 *    1) Add an extra div that does padding/margins
 *       (used here).
 *    2) Use the CSS: box-sizing: 'border-box'
 */

/* Split Page: Content
 * "content" encloses "page" and
 * "page" encloses "post" */
.content-2col {
  display: block;
  padding-top: $header-height;
  padding-left: $sidebar-width;

  @include mobile {
    padding: 0;
  }
}

/* Split Page: Sidebar */
.sidebar {
  display: block;
  vertical-align: top;
  width: $sidebar-width;
  padding-top: $header-height;

  /* Positioning */
  position: fixed;
  top: $header-height;
  top: 0;
  bottom: 0;
  overflow: auto;

  /* Decorations */
  border-right: 1px solid $theme-sep;

  ul {
    list-style-type: none;
  }

  li {
    margin: 0.5rem 0;
  }

  @include mobile {
    display: none;
  }
}

/* Sub-containers for correct margins */
.content-padding {
  margin: 0 auto;
  padding: $pad;
  max-width: $page-width;

  @include mobile {
    padding: $pad-mobile;
  }
}

.sidebar-padding {
  padding: $pad;
  margin: 0;

  @include mobile {
    padding: $pad-mobile;
  }
}

/* Align sidebar elements */
.sidebar .toc {
  padding: 0;
  margin: 0;
}

/* Jump to heading with offset */
h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: $header-height + $pad;

  @include mobile {
    scroll-margin-top: 0;
  }
}
