/***************/
/* Page Layout */
/***************/

@import "_variables";

/* Regular Page */
.page {
  margin: 0 auto;
  padding: $pad;
  max-width: $page-width;
}

/* Split Page: Content */
.content {
  margin: 0 auto;
  padding: $pad;
  margin-left: $sidebar-width + $pad + $pad;

  /* Positioning */
  top: $header-height;
  bottom: 0;
  overflow: auto;

  @include mobile {
    margin: 0px;

    /* Positioning */
    position: unset;
    width: unset;
  }
}

/* Split Page: Sidebar */
.sidebar {
  display: block;
  vertical-align: top;
  width: $sidebar-width;
  padding: $pad;
  padding-top: $header-height + $pad;

  /* Positioning */
  position: fixed;
  top: $header-height;
  top: 0;
  bottom: 0;
  overflow: auto;

  /* Decorations */
  border-right: 1px solid #ddd;

  ul {
    list-style-type: none;
  }

  li {
    margin: 0.5rem 0;
  }

  @include mobile {
    display: none;
  }
}

.sidebar .toc {
  padding: 0;
  margin: 0;
}

/* Jump to heading with offset */
h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: $header-height + $pad;

  @include mobile {
    scroll-margin-top: 0;
  }
}
