---
layout: default
---

<aside class="sidebar">
  <div class="sidebar-padding">
    <h1 class="title">
      <a href="#">{{  page.title }}</a>
    </h1>

    <div class="date">
      Published on {{ page.date | date: "%B %e, %Y" }}
    </div>

    {% toc %}
  </div>
</aside>

<div class="content-2col">
  <div class="content-padding">
    <article class="post">
      <h1 class="title mobile-only">{{ page.title }}</h1>

      <div class="date mobile-only">
        Published on {{ page.date | date: "%B %e, %Y" }}
      </div>

      <div class="entry">
        {{ content | toc }}
      </div>

      <br />
      <a href="{{ site.baseurl }}/">← Back to homepage</a>
      <br />
      <br />
      {% include disqus.html disqus_identifier=page.disqus_identifier %}
    </article>
  </div>
</div>
